<div class="container my-5">
  <table class="table list-teacher">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã câu hỏi</th>
        <th scope="col">Câu hỏi</th>
        <th scope="col">Chủ đề</th>
        <th scope="col">Mức độ</th>
        <th scope="col">Người tạo</th>
        <th scope="col">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each dscauhoi}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.CH_id}}</td>
        <td><a href="/gv/ctch/{{this.CH_id}}">{{this.CH_noidung}}</a></td>
        <td><a href="/gv/cd/{{this.CD_id}}">{{this.CD_name}}</a></td>
        <td><a href="/gv/dk/{{this.DK_id}}">{{this.DK_name}}</a></td>
        <td>{{this.GV_name}}</td>
        <td>{{this.CH_thoigiantao}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>